@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

$Bellefair: 'Bellefair', serif;
$BarlowCondensed: 'Barlow Condensed', sans-serif;


h1,
h2,
h3,
h4 {
    font-family: $Bellefair;
    font-weight: 400;
    color: $White;
}

h5,
p,
span,
a {
    font-family: $BarlowCondensed;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: $LavenderBlue;
}

a{
    letter-spacing: 0.27rem;
    color: $White;

}

h1 {
    font-size: 15rem;
    line-height: 17.2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 10rem;
    line-height: 11.5rem;
}

h3 {
    font-size: 5.8rem;
    line-height: 6.4rem;
}

h4 {
    font-size: 3.2rem;
    line-height: 3.7rem;

    &.sub_heading {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
}

h5 {
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: 0.4725rem;

    &.sub_heading_2 {
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: auto;
    }
}