.main__header {
	position: sticky;
    top: 0;
	width: 100%;
	background-color: $mainBackground;
    z-index: 10;

	@include flexbox;
	//Criar Mixin com estas variaveis
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4.6rem;
	border: 0.1rem solid $border;

	.main__header_group {
		@include flexbox;
		align-items: center;
		gap: 1rem;

		.logo {
			margin-right: 7.5rem;
		}

		.main_nav {
			@include flexbox;
			gap: 2.4rem;

			.navigation__link {
				color: $text;
				font-size: 1.4rem;
			}
		}
	}
}
