// Variables
$primary: rgba(0, 100, 218, 1);
$mainBackground: rgba(255,255,255,1);
$secondaryBackground: rgba(245, 245, 245, 1);


// Texts
$headings: rgba(0,0,0,1);
$text: rgba(0,0,0,1);
$placeholders: rgba(0,0,0,0.5);
$inverted: rgba(255,255,255,1);

//Borders
$border: rgba(223, 223, 223, 1);
$chipsBorder: rgba(236, 235, 235, 1);
$inputBorders: rgba(235, 235, 235, 1);

//Images Background
$imagePlaceholder: rgba(196, 196, 196, 1);

//Cards Colors
$cardBackground: rgba(255,255,255,1);