footer {
	text-align: center;
	background: $darkGrey;
	color: $white;
	padding-top: $gridgutter * 2;
	padding-bottom: $gridgutter * 2;

	.logo {
		margin-bottom: $gridgutter;
		h2 {
			color: $white;
		}
	}

	.copy {
		font-weight: 300;
		color: $secondary;
		margin-bottom: 3.6rem;
	}

	.social {
		display: flex;
		justify-content: center;
		gap: 3.6rem;

		img {
			width: auto;
			height: 3rem;
		}
	}
}
