main{
    .hero_section{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: url(./../assets/header_1.jpg);
        background-size: cover;
        background-position: center;

        @media screen and (min-width: $tablet) {
            background: url(./../assets/header_desk.jpg);
        }
    }
}
